    /*------------------------------------------HEADER--------------------------------------*/
    header 
    {
        position: relative;
    }

    header, section 
    {
        margin: 0;
    }

    header img 
    {
        width: 100px;
    }
    
    nav 
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        margin-top: 20px;
    }

    nav a 
    {
        padding: 0;
        align-self: center;
        font-size: 17px;
    }

    nav a:hover 
    {
        border-top: none;
    }



    .header-logo {
        position: absolute;
        top: 0;
        padding-left: 20px;
        margin-top: 25px;
    }

    .nav-hebergement 
    {
        grid-column: 1;
        grid-row: 2;
        padding-top: 15px;
        padding-bottom: 25px;
        border-bottom:  3px solid #f2f2f2;
    }  
     
    .nav-hebergement:hover, .nav-activites:hover {
        border-bottom: 3px solid #0065FC;
    }

    .nav-activites 
    {
        grid-column: 2;
        grid-row: 2;
        padding-top: 15px;
        padding-bottom: 25px;
        border-bottom:  3px solid #f2f2f2;
        font-size: 18px;
    }

    .nav-inscription
    {
        grid-column: 2;
        grid-row: 1;
        text-align: end;
        padding-right: 15px;
        font-size: 20px;
    }


/*------------------------------------------RECHERCHE--------------------------------------*/

     .section.recherche 
    {
        margin: 30px 0px;
     }
 
     .section.recherche h2 
     {
         font-size: 20px;
     }
 
     .section.recherche p 
     {
         font-size: 15px;
     }
 
     .search span 
     {
         display: none;
     }
     
     i.fas.fa-search 
     {
         display: flex;
         color: white;
         background-color: #0065FC;
         margin: 0;
     }
 
     .recherche input 
     {
         padding-right: 0;
         max-width: 230px;
     }
     
     button.search 
     {
         border-radius: 15px 15px 15px 15px;
         color: white;
         font-size: 1.2rem;
         padding: 5px;
         margin: -10px;
     }

     .filtre
     {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
     }
 
     .filtre h3 
     {
         width: 100%;
         margin: 0 0 20px 0;
     }
 
     .filtres button 
     {
         margin-left: 0;
         margin-bottom: 20px;
         font-size: 16px;
     }
 
     .info p 
     {
         margin: 0;
     }
     /*------------------------------------------HEBERGEMENT--------------------------------------*/
      .tableau-hebergement {
        margin-top: 50px;
        margin-bottom: 30px;
        flex-direction: column-reverse;
    }

    .section.hebergement {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        padding: 5px;    
        width: 340%;
        margin-left: -20px;
        margin-top: 20px;
        border-radius: 30px;
    }
    .section.hebergement h2 
    {
    
    width: 20%;
    margin: 0 0 5px -80px;
    padding: 0;
    }

    article.carte-hebergement img 
    {
        width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
     /*------------------------------------------POPULAIRE--------------------------------------*/
         .aside-hebergment-populaire {
        margin: 0px 100px 0px 100px;
        width: 100%;
        border-radius: 0;
    }
    .titrepopulaire {
        margin: 0px 0px 0px 20px;

    }
     /*------------------------------------------ACTIVITES--------------------------------------*/
         .Activite-site-1 , .Activite-site-2, .Activite-site-3, .Activite-site-4 
    {
        width: 88%;
    }
    
    .Activite-site-1 ,.Activite-site-3
    {
        height: 220px;
    }

    .Activite-site-3 img 
    {
        height: 170px;
    }
    .Activite-site-1 img 
    {
        height: 75%;
    }

     /*------------------------------------------FOOTER--------------------------------------*/

         footer 
    {
        display: flex;
        align-items:flex-start;
        justify-content:center;
        flex-direction: column;
    }

    footer div
    {
            margin-bottom: 30px;
            margin-left:   33px;
    }

    footer p, footer h3 
    {
        margin-bottom: 25px;

    }

    footer.a-propos div 
    {
        margin-bottom: 30px;

    }
    .footer.a-propos
    {
    margin-left: 30px;
    }
    .footer.assistance
    {
        margin: 0 0 0 30px;
    }
    

    footer li 
    {
        font-family:'Raleway', sans-serif;
        font-size: 1em;
        margin: 10px 10px 10px 0px ;
    }