/* General */

@import url(MobileStyle.css) screen and (max-width:768px);
@import url(MobileStyle.css) screen and (max-width:1024px);

body
{
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff ;
    margin: 0mm;
    box-sizing: border-box;
}
header, section, footer
{
    margin: 15px 10px 15px 10px;
} 
img
{
    object-fit: cover; 
}
a
{
    color: #000;
    text-decoration: none;
}
.etoile
{
    color:  #0065FC;
}
.etoile span
{
    color: #d9d9d9 ;
}


/* ------------------------------------------------------------Header------------------------------------------------------------ */

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 30px 0 56px;
}

header img 
{
    width: 100px;
}

nav a
{
    font-size: 1em;
    font-weight: 500;
    padding: 2.5em 3em 2em 2em;
    text-align: center;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid  #0065FC ;
}

.nav-inscription
{
    font-size: 1.2em;
    font-weight: bold;
    color: #0065FC;
    font-weight: bolder;

}
.nav-inscription a:hover 
{
    color: #0065FC;
    border-top: 10px solid #0065FC;
}
/* ------------------------------------------------------------Section recherche ------------------------------------------------------------*/

.section.recherche
{
    display: flex;
    margin: 30px 30px;
    flex-direction: column;
}
.section.recherche h2
{
    margin-bottom: 0mm;
    margin-left: 30px;
}
.section.recherche p
{
    margin-left: 33px;
}

.recherche
{
    display: flex;
    margin-left: 30px;
}

.recherche i.fas.fa-map-marker-alt 
{
    background-color: #f2f2f2;
    font-size: 1em;
    border-radius: 30% 0 0 30%;
    padding: 20px;
    height: 1em;

}

.recherche input
{
    border: solid 2px #f2f2f2;
    font-weight: 600;
    padding: 0px 15px 0px 15px;
    font-size: 1em;
    height: 3.25em;
}


.recherche button.search
{
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0px 20px 0px 20px;
    margin: 0px 40px 10px 0px;
    border: none;
    height: 3.15em;
    
}

.filtre 
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 35px;
    font-size: 1em;
    align-items: center;
}



.filtre button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid  #F2F2F2;
    background-color: #fff;
    border-radius: 40px;
    margin-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    font-weight: bold;
    height: 50px;
}

.filtre :hover 
{
   /* background-color: #F2F2F2; */
}
.filtre button :hover
{
    background-color: #DEEBFF;
}


i.fas.fa-search {
    display: none;
}

button i {
    background-color: #DEEBFF;
    padding: 16px;
    border-radius: 40px;
    color: #0065FC;
    margin-right: 10px;
    margin-left: -10px;
    border: none;
}
button i.fas.fa-child {
    width:1em;
}


.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.info i {
    margin: 0 10px 0 5px;
    align-items: center;
    color: #0065FC;
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
    border: solid 1px lightgray;
}

.info p {
    font-weight: 400;
}

/* ------------------------------------------------------------Section Hebergement------------------------------------------------------------ */
.tableau-hebergement
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section.hebergement
{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 80%;
    margin-right: 30px;
    margin-left: 50px;   
    
}

.section.hebergement h2 
{
    width: 100%;
    margin: 0;
    padding: 30px 30px 20px 30px;
}

.carte-hebergement h4 
{
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 5px 10px ;
}
.description-carte p
{
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 0 10px ;
}
.carte-hebergement 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    padding: 5px;    
    width: 25%;
    height: 180px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 #525151;
}

div.etoile 
{
    margin-left: 10px;
    margin-bottom: 5px;
}

div.etoile i 
{
    font-size: 12px;
    font-weight: 700;
    margin-right: -3px;
}

article.carte-hebergement img 
{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 105px;
}

.afficherplus {
    width: 100%;
    margin: 0 0 10px 40px;
}

/* ------------------------------------------------------------Aside populaire------------------------------------------------------------ */
.titrepopulaire {
    display: flex;
    justify-content: space-between;
    width: 88%;
    align-items: center;
    padding: 30px 30px 20px 30px;
}

.aside-hebergment-populaire
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 34%;
    background-color: #F2F2F2;
    margin-right: 60px;
    border-radius: 22px;
}
.aside-hebergment-populaire h2
{
    margin: 0;
}
.aside-hebergment-populaire i 
{
    font-size: 1.2em;
}
div.imagehotel
{
    width: 40%;
    height: 100%;
}

article.carte-hebergement-populaire 
{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 140px;
    border-radius: 20px;
    margin: 0 35px 30px 35px;
    padding: 5px;
    box-shadow: 0 0 10px 0 #525151;
}

article.carte-hebergement-populaire img 
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.descriptifcarte h4 
{
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px 5px 10px;
}

.descriptifcarte p 
{
    font-size: 14px;
    margin: 5px 0 20px 10px;
}

/* ------------------------------------------------------------Section Activité------------------------------------------------------------ */
.section.activites  
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 0px;
    gap: 30px;
    margin-bottom: 50px;
}

.section.activites h2 
{
    width: 94%;
    margin: 30px 0 0 30px;
}

.Activite-site-1 h4 ,.Activite-site-3 h4
{
    padding: 15px 0 15px 15px;
    margin: 0 0 0 0;
}

.Activite-site-2 h4 ,.Activite-site-4 h4 
{
    padding: 15px 0 30px 15px;
    margin: 0 0 0 0;
}

.Activite-site-1 ,.Activite-site-3
{
    border-radius: 25px;
    box-shadow: 0 0 10px 0 grey;
    height: 470px;
    width: 22%;
}

.Activite-site-1 img ,.Activite-site-3 img
{
    object-fit: cover;
    width: 100%;
    height: 420px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.Activite-site-2 ,.Activite-site-4
{
    width: 22%;
}

.Activite-site-2 div,.Activite-site-4 div
{
    border-radius: 25px;
    box-shadow: 0 0 10px 0 grey;
    height: 220px;
}

.Activite-site-2 img ,.Activite-site-4 img
{
    object-fit: cover;
    width: 100%;
    height: 170px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.haut {
    margin-bottom: 30px;
}

/* ------------------------------------------------------------Footer------------------------------------------------------------ */
footer
{
    background-color: #F2F2F2;
    margin: 0;
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
}



footer h2 
{
    margin-bottom: 25px;
}

footer div 
{

    margin-bottom: 30px;

}


.footer.a-propos
{
    margin-left: 70px;
}
.footer.assistance
{
    margin-right: 500px;
}
footer ul
{
    list-style:none;
    margin-left:0;
    padding-left:0;
}
footer li 
{
    font-family:'Raleway', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    margin: 10px 10px 10px 0px ;
}