/*------------------------------------------HEADER--------------------------------------*/
    header 
    {
        display: block;
    }

    nav 
    {
        display: flex;
        justify-content: space-around;
    }
/*------------------------------------------RECHERCHE--------------------------------------*/
/*------------------------------------------HEBERGEMENT--------------------------------------*/
/*------------------------------------------POPULAIRE--------------------------------------*/
    .hebergementpopulaire 
    {
        width: 100%;
        margin-bottom: 30px;
    }
/*------------------------------------------ACTIVITES--------------------------------------*/
/*------------------------------------------FOOTER--------------------------------------*/