@media screen and (min-width: 768px) and (max-width: 1024px) 
{
    /*------------------------------------------HEADER--------------------------------------*/
      /*  header 
        {
            display: block;
        }

        nav 
        {
            display: flex;
            justify-content: space-around;
        }*/
    /*------------------------------------------RECHERCHE--------------------------------------*/
     /*------------------------------------------HEBERGEMENT--------------------------------------*/
    .tableau-hebergement 
    {
        margin-top: 50px;
        margin-bottom: 30px;
        flex-direction: column-reverse;
    }

    .section.hebergement {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content:center;
        
        padding: 5px;    
        width: 100%;
        margin-left: -20px;
        margin-top: 20px;
        border-radius: 30px;
    }
    .section.hebergement h2 
    {
        width: 100%;
        font-size: 1.5em;
        margin: 0 0 15px 75px;
        padding: 0;
    }
    .carte-hebergement
    {
        width: 40%;
        height: 40%;
        margin: 10px  10px  10px 30px;
    }
    
     /*------------------------------------------POPULAIRE--------------------------------------*/
    .aside-hebergment-populaire {
        margin: 0px 100px 0px 100px;
        width: 100%;
        border-radius: 0;
    }
    .carte-hebergement-populaire 
    {
        width: 80%;
    }
    .titrepopulaire {
        margin: 0px 0px 0px 20px;

    }

    /*------------------------------------------ACTIVITES--------------------------------------*/
    .Activite-site-1 , .Activite-site-3 
    {
        height: 490px;
    }
    .Activite-site-2 div,.Activite-site-4 div
    {

        height: 230px;
    }
    /*------------------------------------------FOOTER--------------------------------------*/
    footer 
    {
        display: flex;
        align-items:flex-start;
        justify-content:center;
        flex-direction: row;
    }

    footer div
    {
        margin: 30px
    }

    footer p, footer h3 
    {
        margin-bottom: 25px;

    }
    .footer.a-propos
    {
        margin-left: 30px;
        
    }
    .footer.assistance
    {
        margin: 30px 30px 30px 60px;    
    }
    

    footer li 
    {
        font-family:'Raleway', sans-serif;
        font-size: 1em;
        margin: 10px 10px 10px 0px ;
    }
}